@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    --primary-light: #00B3FF;
    --primary-dark: #006;
    --grey: rgba(35, 50, 85, 0.05);
    --grey-2: rgba(131, 125, 125, 1);
    font-family: "Inter", sans-serif !important;
}

.text-primary-dark{
    color: var(--primary-dark) !important;
}

.text-primary-light{
    color: var(--primary-light) !important;
}

.text-color-grey-2{
    color: var(--grey-2) !important;
}

.bg-primary-dark{
    background-color: var(--primary-dark) !important;
}

.bg-primary-light{
    background-color: var(--primary-light) !important;
}

.bg-primary-grey{
    background-color: var(--grey) !important;
}


/* table styline */
td{
    padding: 1rem !important;
    border-right: 0.1px solid var(--grey-2);
    color: var(--primary-dark) !important;
}

thead td{
    color: #212529 !important;
    /* background: #F8F8F8 !important; */
}

td:last-child{
    border-right: none;
}